{{ define "base" }}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <script src="/public/js/script.js"></script>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    {{ template "resources" . }}
  </head>
  <body>
    <nav class="navbar navbar-default" style="border-radius: 0px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Mutual Blog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li {{if eq .Url "/" }}class="active"{{end}}><a href="/">Home</a></li>

            <li class="dropdown{{ if IsArticles .Url }} active{{ end }}">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Articles <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">

                <li {{if eq .Url "/articles" }}class="active"{{end}}><a href="/articles">All</a></li>

                {{ if gt .User.ID 0 }}
                <li {{if eq .Url "/articles/subscribed" }}class="active"{{end}}><a href="/articles/subscribed">Subscribed</a></li>

                <li class="divider"></li>

                <li {{if eq .Url "/articles/new" }}class="active"{{end}}><a href="/articles/new">Create</a></li>
                {{end}}

              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{ if gt .User.ID 0 }}
              <li {{if eq .Url "/user/settings" }}class="active"{{end}}>
                <a href="/user/settings">Setting</a>
              </li>
            {{end}}
            <li {{if eq .Url "/login" }}class="active"{{end}}>
              {{ if gt .User.ID 0 }}<a href="/logout">Logout</a>{{else}}<a href="/login">Login</a>{{end}}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ if .Flash.Message }}
      <div class="alert alert-dismissible alert-{{ .Flash.State }} align-center" id="flash">
        <button type="button" id="closeFlash" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ .Flash.Message }}</strong>
      </div>
      {{ end }}
      {{ template "content" . }}
    </div>
  </body>
</html>
{{ end }}
