div.login {
  width: 500px;
  height: auto;
  margin-top: 50px;
}

.alert-danger, .alert-info {
  width: 500;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

div.pg {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.fs13 {
  font-size: 13px;
}
