{{ define "content" }}

  <h1>Articles</h1>

  {{ if gt .Data.count 0 }}
    {{ range $article := .Data.articles }}
      <a class="aTitle" href="/article/{{ $article.Id }}">{{ $article.Title }}</a>
      <br/>
      {{ $article.Content }}
      <br/>
      <br/>
      Author: <a href="/user/{{ $article.Userid }}">{{ $article.Username }}</a>, Published: <span class="fs13">{{ DateFormat $article.CreatedAt }}</span>
      <hr/>
    {{ end }}
  {{ else }}
    <div>No any aritcles have been created yet</div>
  {{ end }}

  <!-- Pagination -->
  {{ if gt .Data.count 5 }}
    <div class="pg">
      <ul class="pagination">
        {{ range $mark := .Data.pagination }}
          <li{{ if not $mark.Enabled }} {{ if $mark.Current }} class="active" {{else}} class="disabled" {{end}}{{end}}>
            <a{{ if and ($mark.Enabled) (gt $mark.Link 0) }} href="/articles/{{$mark.Link}}" {{end}}>{{ $mark.Value }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{end}}


{{ end }}
{{ define "resources" }}
{{ end }}
