{{ define "content" }}
<div class="login align-center">
  <form class="form-horizontal" method="post" action="/login">
    <fieldset>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Title</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="email" placeholder="Title">
        </div>
      </div>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Content</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea" style="height: 150px;"></textarea>
          <span class="help-block">Put article's content in this field.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
{{ end }}
{{ define "resources" }}
  <!-- Define script or styles here -->
{{ end }}